In [24]:
import pandas as pd
import numpy as np
import matplotlib as mp

### LOAD DATA

In [25]:
df = pd.read_csv('train.csv')

In [26]:
df

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
0,1,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39205.170000,0
1,3,2,34,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49278.030000,0
2,4,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67333.770000,0
3,8,2,37,0.0,195.0,195.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64007.970000,0
4,10,2,39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76015,151829,2,48,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,60926.490000,0
76016,151830,2,39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,118634.520000,0
76017,151835,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,74028.150000,0
76018,151836,2,25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,84278.160000,0
76019,151838,2,46,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016,0

### Setting first 1500 rows to dataframe

In [27]:
df = df.head(1500)

### Splitting the dataframe to train and test data

In [28]:
from sklearn.model_selection import train_test_split
x_train,x_test = train_test_split(df)
x_train

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
1077,2130,2,37,0.0,291.51,941.52,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,174355.770000,0
670,1337,2,36,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,95510.490000,0
17,39,2,36,0.0,55.20,70.95,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,153014.130000,0
444,889,2,48,300.0,319.17,640.02,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016,0
721,1451,2,45,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,126878.640000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
732,1478,2,38,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,107352.000000,1
581,1158,2,24,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,108487.560000,0
178,347,2,23,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016,0
41,93,2,22,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,150347.880000,0
1204,2390,2,24,0.0,126.00,126.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,93691.020000,0

In [ ]:
### Removing constant features
* Identifying those features whose values do not vary much and removing them
* Constant features are the ones whose variance is less than 0.5

In [30]:
column_names = df.columns
constant_features = []
for col in column_names:
    if x_train[col].var() <= 1:
        constant_features.append(col)
        del x_train[col]
        del x_test[col]

In [40]:
x_train

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult3,imp_op_var40_ult1,...,saldo_medio_var13_largo_ult1,saldo_medio_var13_largo_ult3,saldo_medio_var17_hace2,saldo_medio_var17_ult1,saldo_medio_var17_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38
1077,2130,2,37,0.0,291.51,941.52,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,174355.770000
670,1337,2,36,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,95510.490000
17,39,2,36,0.0,55.20,70.95,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,153014.130000
444,889,2,48,300.0,319.17,640.02,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016
721,1451,2,45,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,126878.640000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
732,1478,2,38,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,107352.000000
581,1158,2,24,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,108487.560000
178,347,2,23,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016
41,93,2,22,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,150347.880000
1204,2390,2,24,0.0,126.00,126.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,93691.020000

In [42]:
print("Total no. of constant features:", len(constant_features))
for i in range(1,len(constant_features)+1):
    print(i,constant_features[i-1])

Total no. of constant features: 246
1 imp_op_var40_efect_ult1
2 imp_sal_var16_ult1
3 ind_var1_0
4 ind_var1
5 ind_var2_0
6 ind_var2
7 ind_var5_0
8 ind_var5
9 ind_var6_0
10 ind_var6
11 ind_var8_0
12 ind_var8
13 ind_var12_0
14 ind_var12
15 ind_var13_0
16 ind_var13_corto_0
17 ind_var13_corto
18 ind_var13_largo_0
19 ind_var13_largo
20 ind_var13_medio_0
21 ind_var13_medio
22 ind_var13
23 ind_var14_0
24 ind_var14
25 ind_var17_0
26 ind_var17
27 ind_var18_0
28 ind_var18
29 ind_var19
30 ind_var20_0
31 ind_var20
32 ind_var24_0
33 ind_var24
34 ind_var25_cte
35 ind_var26_0
36 ind_var26_cte
37 ind_var26
38 ind_var25_0
39 ind_var25
40 ind_var27_0
41 ind_var28_0
42 ind_var28
43 ind_var27
44 ind_var29_0
45 ind_var29
46 ind_var30_0
47 ind_var30
48 ind_var31_0
49 ind_var31
50 ind_var32_cte
51 ind_var32_0
52 ind_var32
53 ind_var33_0
54 ind_var33
55 ind_var34_0
56 ind_var34
57 ind_var37_cte
58 ind_var37_0
59 ind_var37
60 ind_var39_0
61 ind_var40_0
62 ind_var40
63 ind_var41_0
64 ind_var41
65 ind_var39
66 ind_var44_0
67 ind_var44
68 ind_var46_0
69 ind_var46
70 num_var1_0
71 num_var1
72 num_var4
73 num_var5_0
74 num_var6_0
75 num_var6
76 num_var8_0
77 num_var8
78 num_var12_0
79 num_var12
80 num_var13_0
81 num_var13_corto_0
82 num_var13_corto
83 num_var13_largo_0
84 num_var13_largo
85 num_var13_medio_0
86 num_var13_medio
87 num_var13
88 num_var14_0
89 num_var14
90 num_var17_0
91 num_var17
92 num_var18_0
93 num_var18
94 num_var20_0
95 num_var20
96 num_var24_0
97 num_var24
98 num_var26_0
99 num_var26
100 num_var25_0
101 num_var25
102 num_op_var40_hace2
103 num_op_var40_hace3
104 num_op_var40_ult1
105 num_op_var40_ult3
106 num_var27_0
107 num_var28_0
108 num_var28
109 num_var27
110 num_var29_0
111 num_var29
112 num_var31_0
113 num_var31
114 num_var32_0
115 num_var32
116 num_var33_0
117 num_var33
118 num_var34_0
119 num_var34
120 num_var40_0
121 num_var40
122 num_var41
123 num_var39
124 num_var42_0
125 num_var44_0
126 num_var44
127 num_var46_0
128 num_var46
129 saldo_var6
130 saldo_var13_medio
131 saldo_var18
132 saldo_var28
133 saldo_var27
134 saldo_var29
135 saldo_var32
136 saldo_var33
137 saldo_var34
138 saldo_var41
139 saldo_var46
140 delta_imp_amort_var18_1y3
141 delta_imp_amort_var34_1y3
142 delta_imp_aport_var17_1y3
143 delta_imp_aport_var33_1y3
144 delta_imp_reemb_var17_1y3
145 delta_imp_reemb_var33_1y3
146 delta_imp_trasp_var17_in_1y3
147 delta_imp_trasp_var17_out_1y3
148 delta_imp_trasp_var33_in_1y3
149 delta_imp_trasp_var33_out_1y3
150 delta_num_aport_var17_1y3
151 delta_num_aport_var33_1y3
152 delta_num_reemb_var17_1y3
153 delta_num_reemb_var33_1y3
154 delta_num_trasp_var17_in_1y3
155 delta_num_trasp_var17_out_1y3
156 delta_num_trasp_var33_in_1y3
157 delta_num_trasp_var33_out_1y3
158 imp_amort_var18_hace3
159 imp_amort_var18_ult1
160 imp_amort_var34_hace3
161 imp_amort_var34_ult1
162 imp_aport_var17_hace3
163 imp_aport_var17_ult1
164 imp_aport_var33_hace3
165 imp_aport_var33_ult1
166 imp_var7_emit_ult1
167 imp_reemb_var13_hace3
168 imp_reemb_var17_hace3
169 imp_reemb_var17_ult1
170 imp_reemb_var33_hace3
171 imp_reemb_var33_ult1
172 imp_trasp_var17_in_hace3
173 imp_trasp_var17_in_ult1
174 imp_trasp_var17_out_hace3
175 imp_trasp_var17_out_ult1
176 imp_trasp_var33_in_hace3
177 imp_trasp_var33_in_ult1
178 imp_trasp_var33_out_hace3
179 imp_trasp_var33_out_ult1
180 imp_venta_var44_hace3
181 ind_var7_emit_ult1
182 ind_var7_recib_ult1
183 ind_var10_ult1
184 ind_var10cte_ult1
185 ind_var9_cte_ult1
186 ind_var9_ult1
187 ind_var43_emit_ult1
188 ind_var43_recib_ult1
189 num_var2_0_ult1
190 num_var2_ult1
191 num_aport_var13_hace3
192 num_aport_var13_ult1
193 num_aport_var17_hace3
194 num_aport_var17_ult1
195 num_aport_var33_hace3
196 num_aport_var33_ult1
197 num_var7_emit_ult1
198 num_var7_recib_ult1
199 num_compra_var44_hace3
200 num_compra_var44_ult1
201 num_ent_var16_ult1
202 num_meses_var8_ult3
203 num_meses_var12_ult3
204 num_meses_var13_corto_ult3
205 num_meses_var13_largo_ult3
206 num_meses_var13_medio_ult3
207 num_meses_var17_ult3
208 num_meses_var29_ult3
209 num_meses_var33_ult3
210 num_meses_var39_vig_ult3
211 num_meses_var44_ult3
212 num_op_var40_comer_ult1
213 num_op_var40_efect_ult1
214 num_op_var40_efect_ult3
215 num_reemb_var13_hace3
216 num_reemb_var13_ult1
217 num_reemb_var17_hace3
218 num_reemb_var17_ult1
219 num_reemb_var33_hace3
220 num_reemb_var33_ult1
221 num_sal_var16_ult1
222 num_trasp_var17_in_hace3
223 num_trasp_var17_in_ult1
224 num_trasp_var17_out_hace3
225 num_trasp_var17_out_ult1
226 num_trasp_var33_in_hace3
227 num_trasp_var33_in_ult1
228 num_trasp_var33_out_hace3
229 num_trasp_var33_out_ult1
230 num_venta_var44_hace3
231 num_venta_var44_ult1
232 saldo_var2_ult1
233 saldo_medio_var13_medio_hace2
234 saldo_medio_var13_medio_hace3
235 saldo_medio_var13_medio_ult1
236 saldo_medio_var13_medio_ult3
237 saldo_medio_var17_hace3
238 saldo_medio_var29_hace2
239 saldo_medio_var29_hace3
240 saldo_medio_var29_ult1
241 saldo_medio_var29_ult3
242 saldo_medio_var33_hace2
243 saldo_medio_var33_hace3
244 saldo_medio_var33_ult1
245 saldo_medio_var33_ult3
246 TARGET

In [ ]:
### Removing duplicate features
* Duplicate features are those whose data are same as another feature of data frame.
* Duplicate feature might have a different feature name but same values.

In [49]:
import itertools
combos = list(itertools.combinations(x_train.columns,2))
duplicate_rows = []
for f1,f2 in combos:
    if f1 not in duplicate_rows and f2 not in duplicate_rows:
        if x_train[f1].equals(x_train[f2]):
            duplicate_rows.append(f1)
            del x_train[f1]

In [51]:
print("Total no. of constant features:", len(duplicate_rows))
for i in range(1,len(duplicate_rows)+1):
    print(i,duplicate_rows[i-1])

Total no. of constant features: 10
1 imp_op_var41_efect_ult1
2 num_op_var41_hace3
3 num_var37_0
4 saldo_var1
5 saldo_var26
6 delta_imp_aport_var13_1y3
7 delta_imp_compra_var44_1y3
8 delta_imp_reemb_var13_1y3
9 delta_imp_venta_var44_1y3
10 num_op_var41_efect_ult1

In [ ]:
### Final train data

In [53]:
print("No. of feature columns removed = ", len(constant_features)+len(duplicate_rows))

No. of feature columns removed =  256

In [52]:
x_train

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult3,imp_op_var40_ult1,...,saldo_medio_var13_largo_ult1,saldo_medio_var13_largo_ult3,saldo_medio_var17_hace2,saldo_medio_var17_ult1,saldo_medio_var17_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38
1077,2130,2,37,0.0,291.51,941.52,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,174355.770000
670,1337,2,36,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,95510.490000
17,39,2,36,0.0,55.20,70.95,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,153014.130000
444,889,2,48,300.0,319.17,640.02,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016
721,1451,2,45,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,126878.640000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
732,1478,2,38,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,107352.000000
581,1158,2,24,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,108487.560000
178,347,2,23,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016
41,93,2,22,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,150347.880000
1204,2390,2,24,0.0,126.00,126.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,93691.020000